.List{
    min-width: 300px;
    max-width: 300px;
    background-color: #DEE3E5;
    border-radius: 5px;
    margin: 5px;
    text-align: left;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    overflow: scroll;
}

.ListDragging{
    min-width: 300px;
    max-width: 300px;
    margin: 5px;
    padding: 10px;
    opacity: 0.0;
}

.List header{
    margin: 10px 0px;
}