.Modal {
    position: fixed;
    display:block;
    z-index: 500;
    background-color: #f5f6f7;
    border-radius: 2px;
    margin: 0 0 80px;
    overflow: hidden;
    width: 90%;
    left: 5%;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    min-height: 600px;
}

@media (max-width: 500px) {
    .Modal {
        width: 350px;
        left: calc(50% - 175px);
    }
}

@media (min-width: 800px) {
    .Modal {
        width: 720px;
        left: calc(50% - 360px);
    }
}