.Card{
    width:100%;
    max-width: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 5px;
    margin:5px 0px;
    font-size: 16px;
    font-weight: normal;
    text-indent: 5px;
    cursor: pointer;
    opacity: 1.0;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space:normal;
}

.CardDragging{
    width:100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: rgba(0,0,0,.20);
    cursor: pointer;
    opacity: 0.3;
    border-radius: 5px;
}

.NoCardsPlaceholder{
    width: 100%;
    max-width: 320px;
    border: none;
    height: 65px;
    margin: -10px;
    padding: 0px;
    box-sizing: border-box;
    position:absolute;
}