.CardContainer{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    width:100%;
}

.CardContainer:hover{
    background-color: #f5f6f7;
}

.Card{
    width:100%;
    max-width: 300px;
    border-radius: 5px;
    padding: 10px 5px;
    margin:5px 0px;
    font-size: 16px;
    font-weight: normal;
    text-indent: 5px;
    cursor: pointer;
    opacity: 1.0;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space:normal;
}

.CardDragging{
    width:100%;
    height:100%;
    text-indent: 100%;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    cursor: grabbing;
    opacity: 0.3;
    border-radius: 5px;
    background-color: #516b7a;
}

.NoCardsPlaceholderDragging{
    width: 100%;
    max-width: 320px;
    border: none;
    height: 100px;
    margin: 0px -10px;
    padding: 0px;
    box-sizing: border-box;
    position:absolute;
    cursor: grabbing;
}

.NoCardsPlaceholder{
    display: none;
}

.FormEdit{
    background-color: #f5f6f7;
    background-clip: padding-box;
    background-origin: padding-box;
    border-radius: 5px;
    opacity: .8;
    padding: 4px;
    position: absolute;
    right: 5px;
    top: 8px;
    z-index: 40;
    visibility: visible;
}

.FormHidden{
    background-color: #f5f6f7;
    background-clip: padding-box;
    background-origin: padding-box;
    border-radius: 5px;
    opacity: .8;
    padding: 4px;
    position: absolute;
    right: 5px;
    top: 8px;
    z-index: 40;
    visibility: hidden;
}

.FormEdit:hover{
    background-color: #ebeef0;
    opacity: 1;
}

.Edit{
    color: #798d99;
    cursor: pointer;
}

.Edit:hover{
    color: #516b7a;
    text-decoration: none;
}