.commentFrame{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px -1px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    margin: 12px 4px 12px 0;
    overflow: hidden;
    position: relative;
}

.commentBox{
    padding: 8px 12px;
    position: relative;
}

.commentBoxInput{
    max-height:150px;
    box-shadow: 0 2px 3px #ccc;
    border:none;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    width: 100%;
}

.comments{
    list-style-type: none;
}

.commentsContainer{
    margin: 12px 40px 8px 0px;
    min-height: 32px;
    position: relative;
    z-index: 1;
    text-align: left;
}

.commentContainer{
    display: flex;   
}

.comment{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px -1px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    box-sizing: border-box;
    clear: both;
    display: inline-block;
    margin: 4px 2px 4px 0;
    padding: 8px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top:8px;
}

.buttons a{
    color: #6b778c;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}

.closeButton{
    border-radius: 50%;
    height: 32px;
    overflow: hidden;
    margin-top: 8px;
    padding-top: 4px;
    width: 32px;
    z-index: 2;
    transition: background-color .1s,color .1s;
    color: #42526e;
    cursor: pointer;
}

.confirmationButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; 
}

.FormAcceptButton{
    background-color: #5aac44;
    box-shadow: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 8px 4px 0 0;
    padding: 6px 12px;
    text-align: center;
}